#wheel {
    position: relative;

    #spinButtonGroup {
        position: absolute;
        inset: 10px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #spinButton {
            margin: auto;
            transition: all 200ms ease-out 0s;
            cursor: pointer;
            position: relative;

            &:hover {
                transform: scale(0.9);
            }

            p {
                position: absolute;
                left: 1px;
                right: 1px;
                top: 1px;
                bottom: 1px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: black;
                font-weight: bold;
                text-shadow: 1px 1px 3px black;
            }
        }

        .spinNeedle {
            position: absolute;
            transition: all 200ms ease-out 0s;
        }

        .move {
            animation: shake 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 3;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {

            // from {transform: rotateY(0deg);}
            // to {transform: rotateY(1800deg);}
            0%,
            100% {
                transform: translate(-7px, 0);
            }

            50% {
                transform: translate(7px, 0);
            }
        }
    }
}