.password {
    padding: 20px;
    border: 1px solid black;
    width: 25%;
    margin: auto;
    margin-top: 25%;
    border-radius: 10px;
    text-align: left;
    .inputGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}